name: Rust

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Build
      run: cargo build --release --verbose
    - name: Archive 
      uses: actions/upload-artifact@v3
      with:
        name: order
        path: target/release/order
    - name: Test
      run: cargo test --verbose
    - name: Clippy
      run: cargo clippy -- -W clippy::pedantic --verbose
    - name: Doc
      run: cargo doc --target-dir docs --no-deps --verbose
    - name: Archive
      uses: actions/upload-artifact@v3
      with:
        name: doc
        path: docs/doc